body {
  background: #f5f5f5;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  background-color: lightcoral;
  height: 100px;
  width: 100%;
  padding: 20px;
  top: 0;
  position: fixed;
  z-index: 999;

}

.header>nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 5px 5px 5px;
}

.header>nav img {
  flex-basis: 20%;
  padding: 12px 0;
  width: 50px;
  margin-top: -150px;

}

.header>nav>ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;

}

.header>nav>ul>li {
  float: left;
  right: 500px;
  text-align: center;
  padding: 5px 5px 5px;
  margin-right: 80px;
  margin-top: 60px;

}


.header a {
  display: block;
  padding: 20px;
  font-size: 14px;
  text-decoration: solid;
  color: #333;
  transition: 0.5ms;
  padding-top: 10px;


}

.header li a:hover {
  border-color: #950606;
}

.home {
  background: rgb(238, 216, 216);
  padding: 5% 0 3%;
  margin-top: 150px;
  height: 600px;
}

.home-text {
  flex-basis: 50%;
}

.home-text h2 {
  font-size: 2.5em;
  text-align: center;
  margin-top: -30px;
}

.home-text p {
  line-height: 25px;
  font-size: 30px;
  font-weight: 300px;
  width: 600px;
  margin-top: 100px;
  color: brown;
  font-style: italic;

}

.home-text a {
  display: inline-block;
  background: red;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 14px;
  border-bottom: 3px solid #b30505;
  margin-top: 20px;
}

.home-image {
  flex-basis: 50%;

}

.home-image img {
  width: 500px;
  height: 500px;
  padding-right: 200px;
  margin-top: -300px;

}

.menu {
  width: 100%;
  height: 800px;
  background-color: bisque;

}

.menu-item {
  max-width: auto;
  height: 800px;
  width: 800px;
  position: relative;

}

.menu-1,
.menu-2,
.menu-3,
.menu-4,
.menu-5,
.menu-6,
.menu-7,
.menu-8 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu-1 {
  background: url(wf1.jpg) no-repeat center;
  background-size: cover;
  animation: fade 10s infinite;
  -webkit-animation: fade 10s infinite;
}

.menu-2 {
  background: url(wf2.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 10s infinite;
  -webkit-animation: fade2 10s infinite;
}

.menu-3 {
  background: url(wf4.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 10s infinite;
  -webkit-animation: fade3 10s infinite;
}

.menu-4 {
  background: url(wf5.jpg) no-repeat center;
  background-size: cover;
  animation: fade4 10s infinite;
  -webkit-animation: fade4 10s infinite;
}

.menu-5 {
  background: url(wf12.jpg) no-repeat center;
  background-size: cover;
  animation: fade5 10s infinite;
  -webkit-animation: fade5 10s infinite;
}

.menu-6 {
  background: url(wf9.jpg) no-repeat center;
  background-size: cover;
  animation: fade6 10s infinite;
  -webkit-animation: fade6 10s infinite;
}

.menu-7 {
  background: url(wf14.jpg) no-repeat center;
  background-size: cover;
  animation: fade7 10s infinite;
  -webkit-animation: fade7 10s infinite;
}

.menu-8 {
  background: url(wf7.jpg) no-repeat center;
  background-size: cover;
  animation: fade8 10s infinite;
  -webkit-animation: fade8 10s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  33.333% {
    opacity: 0;
  }

  66.666% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fade2 {
  0% {
    opacity: 0;
  }

  33.333% {
    opacity: 1;
  }

  66.666% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

@keyframes fade3 {
  0% {
    opacity: 0;
  }

  33.333% {
    opacity: 0;
  }

  66.666% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade4 {
  0% {
    opacity: 1;
  }

  33.333% {
    opacity: 0;
  }

  66.666% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade5 {
  0% {
    opacity: 0;
  }

  33.333% {
    opacity: 1;
  }

  66.666% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade6 {
  0% {
    opacity: 0;
  }

  33.333% {
    opacity: 0;
  }

  66.666% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade7 {
  0% {
    opacity: 1;
  }

  33.333% {
    opacity: 0;
  }

  66.666% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade8 {
  0% {
    opacity: 0;
  }

  33.333% {
    opacity: 1;
  }

  66.666% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}


.harga {
  width: 100%;
  padding: 5% 0;
  margin: auto;
  background-color: burlywood;
  border: 2px solid brown;
  text-align: center;
}

.harga.h2 {
  text-align: center;

}

.catalog {
  display: flex;
  flex-direction: row;
  background-color: darkgoldenrod;
  align-items: center;
  margin: 70px auto;
  margin-bottom: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
   flex-basis: 20%; 
}

.catalog-item .desc {
  padding: 20px;
}

.catalog-item .desc .title h5 {
  margin: 5px 0 10px;
  color: #555;
}

.catalog-item .desc .price {
  font-size: 13px;
  font-weight: 600;
  color: #ec9633;
}

.catalog-item img {
  height: 200px;
  width: 200px;

}

button.yuk{
  color: black;
  margin-left: 650px;
  width: 200px;
  background-color: #ec9633;
  
}
.beli{
  text-align: center;
  background-color: #ec9633;
}
.footer {
  background: #333;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
}